#logReg {
  border-bottom: 1px solid #ddd;
}

#logReg .container {
  height: 27px;
}

#logReg .container .logReg_left li {
  float: left;
}

#logReg .container .logReg_left li a {
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  color: #3C3C3C;
  padding: 0 18px;
}

#logReg .container .logReg_left li a.attention {
  padding-left: 28px;
}

#logReg .container .logReg_right {
  height: 27px;
  float: right;
}

#logReg .container .logReg_right li {
  float: left;
}

#logReg .container .logReg_right li a {
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  color: #3C3C3C;
}

#logReg .container .logReg_right li a.welcome {
  color: #666;
}

#logReg .container .logReg_right li a.login {
  padding-left: 40px;
}

#logReg .container .logReg_right li a.register {
  padding: 0 18px 0 8px;
}

#logReg .container .logReg_right li a.shopping {
  padding: 0 18px 0 26px;
  background: #FF3D3B;
  color: #fff;
}

#logReg .container .logReg_right li a.online_service {
  padding: 0 18px 0 28px;
}

#loginLay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #aaa;
  z-index: 100;
  opacity: 0.6;
  top: 0;
}

#loginWindow {
  width: 420px;
  height: 450px;
  position: fixed;
  z-index: 110;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#loginWindow .login {
  width: 420px;
  height: 450px;
  border: 1px solid #ddd;
  background: #fff;
}

#loginWindow .login h3 {
  width: 400px;
  height: 50px;
  padding-left: 20px;
  font-size: 22px;
  color: #fff;
  background: #FF3D3B;
  line-height: 50px;
}

#loginWindow .login h3 .loginClose {
  background: url(../css/images/sprite.png) -130px 0 no-repeat;
  width: 45px;
  height: 50px;
  display: inline-block;
  float: right;
}

#loginWindow .login .loginBody {
  width: 360px;
  margin: 0 30px;
}

#loginWindow .login .loginBody div:nth-of-type(1) {
  width: 360px;
  height: 48px;
  margin: 25px 0 20px 0;
  border: 1px solid #ccc;
  background: url(../css/images/sprite.png) -411px 0 no-repeat;
}

#loginWindow .login .loginBody div:nth-of-type(1) .username {
  width: 304px;
  height: 46px;
  float: right;
  padding-left: 4px;
  font-size: 4px;
}

#loginWindow .login .loginBody div:nth-of-type(2) {
  height: 48px;
  width: 360px;
  border: 1px solid #ccc;
  background: url(../css/images/sprite.png) -190px 0 no-repeat;
  position: relative;
}

#loginWindow .login .loginBody div:nth-of-type(2) .userpass {
  width: 304px;
  height: 46px;
  float: right;
  padding-left: 4px;
  font-size: 12px;
}

#loginWindow .login .loginBody div:nth-of-type(2) .logineye {
  width: 40px;
  height: 46px;
  display: inline-block;
  position: absolute;
  right: 0;
  background: url(../css/images/sprite.png) -250px 0 no-repeat;
}

#loginWindow .login .loginBody .loginRemember {
  height: 20px;
  margin-top: 24px;
  font-size: 12px;
  line-height: 20px;
  color: #999;
}

#loginWindow .login .loginBody .loginRemember span {
  float: right;
}

#loginWindow .login .loginBody .loginInfo {
  width: 360px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  color: #f00;
}

#loginWindow .login .loginBody .loginSubmit {
  width: 360px;
  height: 48px;
  background: #FF3333;
  line-height: 48px;
  text-align: center;
  color: #fff;
  font-size: 22px;
}

#loginWindow .login .loginBody .loginRegister {
  margin: 8px 0 20px 0;
  font-size: 12px;
  text-align: right;
  color: #999;
}

#loginWindow .login .loginBody .loginRegister a {
  color: #FF3333;
}

#loginWindow .login .loginBody .loginWtl {
  width: 360px;
  height: 80px;
  background: url(../css/images/sprite.png) 0 -176px no-repeat;
}

#loginWindow .login .loginBody .loginWtl .qq {
  width: 35px;
  height: 35px;
  margin: 22px 0 0 90px;
  display: inline-block;
  background: url(../css/images/sprite.png) -310px 0 no-repeat;
}

#loginWindow .login .loginBody .loginWtl .ali {
  width: 35px;
  height: 35px;
  margin: 22px 0 0 115px;
  display: inline-block;
  background: url(../css/images/sprite.png) -360px 0 no-repeat;
}

#header .container {
  height: 106px;
  padding: 18px 0 0 32px;
}

#header .container h1 {
  float: left;
  width: 330px;
  height: 106px;
  background: url(../css/images/logo.png) no-repeat;
}

#header .container .form {
  height: 106px;
  float: left;
}

#header .container .form p {
  height: 26px;
  font-size: 12px;
  color: #C70904;
  line-height: 26px;
}

#header .container .form .search {
  height: 36px;
  width: 360px;
  border: 2px solid #FF3D3B;
  padding-left: 12px;
  color: #999999;
  font-size: 12px;
  border-right: 0 none;
  line-height: 36px;
  float: left;
}

#header .container .form .btn {
  width: 108px;
  height: 40px;
  background: #FF3D3B;
  float: left;
  color: #fff;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 40px;
}

#header .container .form dl {
  height: 32px;
  padding-top: 48px;
  font-size: 12px;
}

#header .container .form dl dt {
  float: left;
  color: #999999;
  padding-right: 5px;
}

#header .container .form dl dd {
  float: left;
}

#header .container .form dl dd a {
  padding: 0 5px;
  color: #999;
  border-right: 1px solid #999;
}

#header .container .form dl dd:hover a {
  color: #FF3D3B;
}

#header .container .header_right {
  height: 40px;
  width: 312px;
  float: right;
  padding-top: 26px;
}

#header .container .header_right .right_1 {
  height: 40px;
  width: 104px;
  position: relative;
  float: left;
}

#header .container .header_right .right_1 p {
  font-size: 12px;
  color: #303030;
  padding-left: 36px;
}

#header .container .header_right .right_1 p span {
  font-weight: bold;
}

#header .container .header_right .right_2 i {
  background-position: -40px 0;
}

#header .container .header_right .right_3 i {
  background-position: -80px 0;
}

#nav {
  border-bottom: 2px solid #FF3D3B;
}

#nav .container {
  height: 34px;
}

#nav .container .navAll {
  height: 34px;
  width: 190px;
  background: #FF3D3B;
  font-size: 12px;
  color: #fff;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
  float: left;
}

#nav .container ul {
  width: 1010px;
  height: 34px;
  float: right;
}

#nav .container ul li {
  float: left;
}

#nav .container ul li a {
  display: block;
  height: 34px;
  font-size: 12px;
  color: #000000;
  line-height: 34px;
  padding: 0 20px;
  font-weight: bold;
}

#nav .container ul li a.home {
  padding-left: 40px;
}

#nav .container ul li:hover a {
  color: #FF3D3B;
}
