#main {
  margin: 30px 0;
}

#main .container {
  overflow: hidden;
  clear: both;
}

#main .container .buycar_content {
  padding-top: 35px;
}

#main .container .buycar_content .buycar_loading {
  height: 55px;
  line-height: 55px;
  font-size: 12px;
  text-align: center;
}

#main .container .buycar_content .buycar_box {
  margin: 5px auto auto auto;
}

#main .container .buycar_content .buycar_box .boxHead {
  padding: 10px 0;
  background: #f3f3f3;
  border-bottom: 1px solid #ccc;
  height: 20px;
}

#main .container .buycar_content .buycar_box .boxHead .column {
  float: left;
  font-size: 12px;
  color: #333;
  height: 20px;
  line-height: 20px;
}

#main .container .buycar_content .buycar_box .boxHead .goods {
  width: 575px;
  text-indent: 160px;
}

#main .container .buycar_content .buycar_box .boxHead .price {
  width: 150px;
  text-align: center;
}

#main .container .buycar_content .buycar_box .boxHead .qty {
  width: 152px;
  text-align: center;
}

#main .container .buycar_content .buycar_box .boxHead .sum {
  width: 118px;
  text-align: center;
}

#main .container .buycar_content .buycar_box .boxHead .action {
  width: 123px;
  text-align: center;
}

#main .container .buycar_content .buycar_box .itemList {
  border: 1px solid #ccc;
  border-top: 0 none;
  padding-bottom: 30px;
}

#main .container .buycar_content .buycar_box .itemList .itemForm {
  padding: 13px 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_goods {
  width: 585px;
  float: left;
  margin-left: 20px;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_goods .pic {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  text-align: center;
  float: left;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_goods .pic img {
  width: 80px;
  height: 80px;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_goods .msg {
  padding-left: 102px;
  font-size: 14px;
  width: 60%;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_goods .msg a {
  color: #333;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_price {
  width: 150px;
  float: left;
  color: #333;
  font-size: 14px;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_price .pm {
  display: block;
  text-align: center;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_qty {
  width: 152px;
  float: left;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_qty .wrap_input {
  width: 108px;
  float: left;
  height: 35px;
  margin-left: 20px;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_qty .wrap_input span {
  display: block;
  width: 33px;
  height: 33px;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  text-align: center;
  line-height: 33px;
  background: #eff3f6;
  color: #666;
  font-size: 20px;
  float: left;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_qty .wrap_input span.btnReduce {
  border-left: 1px solid #c8c8c8;
  cursor: pointer;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_qty .wrap_input span.btnAdd {
  border-right: 1px solid #c8c8c8;
  cursor: pointer;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_qty .wrap_input input {
  display: block;
  width: 36px;
  height: 33px;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  float: left;
  text-align: center;
  line-height: 33px;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_sum {
  width: 118px;
  float: left;
  text-align: center;
  color: #333;
  font-size: 14px;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_action {
  width: 123px;
  float: left;
}

#main .container .buycar_content .buycar_box .itemList .itemForm .f_action span, #main .container .buycar_content .buycar_box .itemList .itemForm .f_action a {
  color: #333;
  display: inline-block;
  text-indent: 35px;
  font-size: 12px;
  cursor: pointer;
}

#main .container .buycar_content .buycar_box .box_total {
  padding: 10px 0;
  background: #f3f3f3;
  height: 40px;
}

#main .container .buycar_content .buycar_box .box_total .count {
  float: left;
  position: relative;
  width: 100%;
  height: 40px;
}

#main .container .buycar_content .buycar_box .box_total .count .submit_btn {
  width: 123px;
  height: 42px;
  background: #f26e78;
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: -10px;
  text-align: center;
  line-height: 42px;
}

#main .container .buycar_content .buycar_box .box_total .count .sumPrice {
  padding-left: 800px;
  font-size: 14px;
  color: #5c5c5c;
  font-weight: bold;
}

#main .container .buycar_content .buycar_box .box_total .count .sumPrice em {
  font-size: 24px;
  font-weight: bold;
  color: #f86f76;
}

#main .container .buycar_content .car_tab {
  margin: 38px auto auto auto;
}

#main .container .buycar_content .car_tab li {
  display: inline;
  padding: 6px 28px;
  font-size: 14px;
  float: left;
}

#main .container .buycar_content .car_tab .car_tab_til {
  height: 33px;
  background: url(../css/images/line.jpg) repeat-x bottom left;
}

#main .container .buycar_content .car_tab .car_tab_til .tab_item {
  color: #f86f76;
  border: 1px solid #d3d3d3;
  border-bottom: 0 none;
}

#main .container .buycar_content .car_tab .car_tab_end {
  padding: 34px 0;
  border: 1px solid #d3d3d3;
  border-top: 0 none;
  overflow: hidden;
  height: 260px;
  position: relative;
}

#main .container .buycar_content .car_tab .car_tab_end li {
  position: absolute;
  top: 0;
}

#main .container .buycar_content .car_tab .car_tab_end ul {
  height: 210px;
  position: relative;
}

#main .container .buycar_content .car_tab .car_tab_end ul .tab_info {
  width: 190px;
  float: left;
}

#main .container .buycar_content .car_tab .car_tab_end ul .tab_info a {
  color: #66666a;
}

#main .container .buycar_content .car_tab .car_tab_end ul .tab_info .pic {
  width: 135px;
  height: 135px;
  margin: 0 auto;
}

#main .container .buycar_content .car_tab .car_tab_end ul .tab_info .pic a {
  display: block;
  width: 135px;
  height: 135px;
  background: url(../css/images/sprict2.png) 0 0 no-repeat;
}

#main .container .buycar_content .car_tab .car_tab_end ul .tab_info p {
  width: 135px;
  padding: 5px 0;
  margin: auto;
}

#main .container .buycar_content .car_tab .car_tab_end ul .tab_info span {
  display: block;
  margin: auto;
  width: 135px;
  text-align: center;
  color: #e43b36;
  font-weight: bold;
  font-size: 14px;
}

#main .container .buycar_content .car_tab .car_tab_end .btn {
  display: block;
  width: 53px;
  height: 329px;
  top: 24px;
  position: absolute;
  cursor: pointer;
}

#main .container .buycar_content .car_tab .car_tab_end .btnLeft {
  left: 0;
  background: url(../css/images/tabs-left-btn.png) #fff no-repeat center center;
}

#main .container .buycar_content .car_tab .car_tab_end .btnRight {
  right: 0;
  background: #fff url(../css/images/tabs-right-btn.png) center center no-repeat;
}
